telegram.token=1234567890:JAFHIOeu912u0s9sa-VU_OWK39djqw00Asd
airtable.token=p5duf5DQy956Cb8fb.98SuYmH7WpfZSW9T2iSiY4sganjs94u51ea2d512dKjqEzq4989yUqA8h3F8DPpk
airtable.baseid=appgttJdAncwyf4E2
airtable.tableid.users=tblDjvNjuDQwqNsXB
airtable.tableid.schedule=tblfiDXAeQwLuJBUS

